*~
/Uebung/Blaetter/**/*.*
/Uebung/Selbsttests/**/*.*
/Uebung/Vorlagen/tex/IDB_*
/Uebung/Code/angabe
/Uebung/Code/src-modified
/Vorlesungsfolien/neues_format/**/*.*
Blaetter/
Folien/
!**/*.tex
!*.sty
!*.cls
!**/Makefile
!/Uebung/Blaetter/*.sh
!/Uebung/Blaetter/*.sh
!/Uebung/Blaetter/Pictures/*.png
!/Uebung/Blaetter/Pictures/*.pdf
!/Uebung/Blaetter/Pictures/*.vsdx
!/Uebung/Blaetter/i6prcsht_res/*.pdf
!/Vorlesungsfolien/neues_format/Pictures/**/*.png
!/Vorlesungsfolien/neues_format/Pictures/**/*.pdf
!/Vorlesungsfolien/neues_format/Pictures/**/*.jpg
